<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{ '/static/font-awesome/css/font-awesome.min.css'|url }}">

    <link rel="stylesheet" href="{{ '/static/style.min.css'|url }}">

    <title>{% block title %}Welcome{% endblock %}</title>

</head>
<body>
  <aside>
    <div>
      <a href="{{ '/'|url }}">
        <img src="{{ '/img/victor_avatar.png'|url }}" alt="victor" title="victor">
      </a>
      <h1><a href="{{ '/'|url }}">Victor Martin</a></h1>
      <p>Computer Geek - Software Engineer - Jazz guitarist</p>

      <!--<nav>
        <ul class="list">
          <li><a href="{{ '/'|url }}">Home</a></li>
          <li><a href="{{ '/articles'|url }}">Articles</a></li>
          <li><a href="{{ '/about'|url }}">About</a></li>
      </ul>
      </nav>-->

      <ul class="social">
        <li><a class="sc-linkedin" href="https://www.linkedin.com/in/victormartin/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="sc-github" href="https://github.com/victormartingarcia" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a class="sc-twitter" href="https://twitter.com/victormartin" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a class="sc-google" href="mailto:victor.martin.garcia@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
      </ul>

    </div>


  </aside>
  <main>
    <nav>
      <span>victormartingarcia.com</span>
    </nav>

    {% block body %}{% endblock %}

    <footer>
      <p>
        &copy; Copyright Victor Martin Garcia
      </p>
    </footer>
  </main>

</body>
</html>
